a,
img,
span {
    display: inline-block;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    background-color: #BE3143;
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem;
    gap: 3rem;
    position: sticky;
    top: 0;
    z-index: 2000;
}

#navbar a {
    color: #fff;
    font-size: 1.5rem;
}

#welcome-section {
    background-color: #232325ef;
    height: 91vh;
    display: grid;
    place-items: center;
}

#welcome-section h1 {
    color: #fff;
    font-size: 5rem;
}

#welcome-section div {
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section span {
    color: rgba(255, 0, 0, 0.35);
    font-weight: lighter;
    font-size: 2rem;
    font-style: italic;
}

#projects {
    background-color: #45577D;
    padding-top: 4rem;
    color: #fff;
    max-width: 100rem;
    margin: 0 auto;
}

#projects h2 {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1rem;
    margin-bottom: 6rem;
}

.project-tile {
    width: 25rem;
    background-color: #313841;
    color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}

.project-tile img {
    width: 100%;
    height: 389px;
    object-fit: cover;
}

.project-tile a span {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.6rem 0;
}

.project-grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    max-width: 1350px;
    margin: 0 auto;
}

.project-btn {
    text-align: center;
    margin-top: 3rem;
}

.project-btn button {
    background-color: #313841;
    border: none;
    color: #fff;
}